extends layout
block content
  .row.banner
    .col-12
      h1= pageHeader.title 
        small &nbsp;#{pageHeader.strapline}
      .row
  .col-12.col-md-8
    each location in tyres 
      .tyre-card 
            a(href="/home/location")  
              .card-block 
                img.card-image(src="https://d2hucwwplm5rxi.cloudfront.net/wp-content/uploads/2021/09/06120412/summer-Vs-winter-tyres-090620210503.jpg", alt="Tyre Image")  
                h4 
                  a(href="/home/location")= location.name
                .facilities
                  each facility in location.facilities
                    span.badge.badge-warning= facility 
  .col-12.col-md-8
    each location in engineoils
      .engine-oil-card 
        a(href="/home/engine") 
          .card-block 
            img.card-image(src="https://image.adsoftheworld.com/twb83oawgbc6hqfr54esg7y9jwhp", alt="Engine Oil Image")  
            h4 
              a(href="/home/engine")= location.name
            .facilities
              each facility in location.facilities
                span.badge.badge-warning= facility 
  .col-12.col-md-8
    each location in spareparts
      .spare-parts-card 
        a(href="/home/spare") 
          .card-block 
            img.card-image(src="https://previews.123rf.com/images/vladru/vladru1402/vladru140200008/26008609-many-auto-parts-done-in-3d.jpg", alt="Spare Parts Image")  
            h4 
              a(href="/home/spare")= location.name
            .facilities
              each facility in location.facilities
                span.badge.badge-warning= facility 
